<style>
  .loader {
    margin-left: 50%;
    position: center;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
<div class="animated fadeIn">
  <!--/.row-->

  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Website Posts
        </div>
        <div *ngIf="showLoader" class="jumbotron">
          <div class="jumbotron">
            <div class="loader"></div>
          </div>
        </div>
        <div *ngIf="!showLoader" class="card-body">
          <div *ngFor="let post of postslist; let i = index">
            <div class="row">
              <p class="pl-3">
                <strong>{{ post._title }}</strong>
              </p>
              <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 text-center">
                <button
                  type="button"
                  class="btn btn-pill btn-danger pull-right"
                  data-toggle="modal"
                  (click)="DeletePosts(post._title)"
                >
                  <i class="fa fa-trash"></i>&nbsp;Remove this Post
                </button>
              </div>
            </div>
            <div class="text-muted d-flex flex-row bd-highlight mb-3">
              <div class="pr-5 bd-highlight">
                <strong>Author :</strong> {{ post._owner }}
              </div>
              <div class="pr-5 bd-highlight">
                <strong>Published Date :</strong> {{ post._date }}
              </div>
            </div>
            <p>{{ post._body }}</p>
            <hr />
          </div>

          <!-- Pagination Section start -->
          <pagination
            class="d-flex justify-content-center"
            [totalItems]="postslist.length"
            [(ngModel)]="currentPage"
            (pageChanged)="pageChanged($event)"
            [itemsPerPage]="itemsPerPage"
          ></pagination>
          <!-- Pagingation Section end -->
        </div>
        <!-- <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Title</th>
                <th>Post body</th>
                <th>date published</th>
                <th>Publisher</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let post of postslist">
                <td>{{ post._title }}</td>
                <td>{{ post._body }}</td>
                <td>{{ post._date }}</td>
                <td>{{ post._owner }}</td>
                <td>
                  <span
                    class="badge badge-success"
                    (click)="DeletePosts(post._title)"
                    >Delete</span
                  >
                </td>
              </tr>
            </tbody>
          </table>
          <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div> -->
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
