<style>
  .loader {
    margin-left: 50%;
    position: center;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>

<div class="animated fadeIn">
  <!--/.row-->

  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> <b> Users Menu</b>
        </div>
        <div *ngIf="showLoader" class="jumbotron">
          <div class="jumbotron">
            <div class="loader"></div>
          </div>
        </div>
        <div *ngIf="!showLoader" class="card-body">
          <div *ngFor="let user of Userlist">
            <div class="row">
              <p class="pl-3">
                <strong>{{ user._uname }}</strong>
              </p>
              <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 text-center">
                <button
                  type="button"
                  class="btn btn-pill btn-primary pull-right"
                  data-toggle="modal"
                  (click)="ChangeStatus(user._uname, user._status)"
                >
                  <i class="fa fa-reply"></i>&nbsp;Change Status
                </button>
              </div>
            </div>
            <div class="text-muted d-flex flex-row bd-highlight mb-3">
              <div class="pr-5 bd-highlight">
                <strong>Date Joined :</strong>2012/01/01
              </div>
              <div class="pr-5 bd-highlight">
                <strong>User Status :</strong> {{ user._status }}
              </div>
            </div>
            <!-- <p>{{ message.message }}</p> -->
            <hr />
          </div>

          <!-- Pagination Section start -->
          <pagination
            class="d-flex justify-content-center"
            [totalItems]="len"
            [(ngModel)]="currentPage"
            (pageChanged)="pageChanged($event)"
            [itemsPerPage]="itemsPerPage"
          ></pagination>
          <!-- Pagingation Section end -->
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
