<footer>
  <hr>
  <div class="text-center col-xs-4 offset-xs-4 mb-4">
    <p><strong>FOLLOW US</strong></p>
    <div class="ml-auto text-center">
      <i class="fab fa-facebook-f fa-lg mb-4 ml-4 icon-color"><a href="#"></a></i>
      <i class="fab fa-instagram fa-lg mb-4 ml-4 icon-color"><a href="#"></a></i>
      <i class="fab fa-twitter fa-lg mb-3 ml-4 icon-color"><a href="#"></a></i>
      <i class="fab fa-pinterest fa-lg mb-3 ml-4 icon-color"><a href="#"></a></i>
      <i class="fab fa-google-plus-g fa-lg mb-3 ml-4 icon-color"><a href="#"></a></i>
    </div>
  </div>
  <div class="bg-light py-5">
    <div class="container">
      <div class="small text-center text-muted">Copyright &copy; Travel Getaway 2019 | All rights reserved</div>
    </div>
  </div>
</footer>