<div class="animated fadeIn">
  <!--/.row-->

  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Combined All Table
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Heading</th>
                <th>Body</th>
                <th>Date</th>
                <th>owner</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Post of postslist">
                <td>{{ Post._title }}</td>
                <td>{{ Post._body }}</td>
                <td>{{ Post._date }}</td>
                <td>{{ Post._owner }}</td>
                <td>
                  <span class="badge badge-success">Delete</span>
                </td>
              </tr>
            </tbody>
          </table>
          <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
