<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
  <div class="container">
    <a class="navbar-brand" routerLink="/"
      ><img src="assets/img/40x40_logo.png" alt="Travel-Getaway" /><strong>
        TRAVEL GETAWAY</strong
      ></a
    >
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto my-2 my-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tours" routerLinkActive="active"
            >Tours</a
          >
        </li>
        <li class="nav-item">
            <a 
              class="nav-link" 
              routerLink="/bookings" 
              routerLinkActive="active"
              *ngIf="isAuthenticated()">Bookings</a
            >
          </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/testimonials"
            routerLinkActive="active"
            >Testimonials</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active"
            >Contact</a
          >
        </li>
        <ng-template [ngIf]="!isAuthenticated()">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active"
              >Login</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active"
              >Register</a
            >
          </li>
        </ng-template>
        <ng-template [ngIf]="isAuthenticated()">
          <li class="nav-item">
            <a 
              class="nav-link" 
              routerLink="/bookmarks" 
              routerLinkActive="active">
              <i class="fas fa-heart fa-1x mb-3 icon-color mb-3"></i></a
            >
          </li>
          <!-- <div class="bookmark-hover">Hover over me
            <span class="bookmark-hover-text">Tooltip text</span>
          </div> -->
          <!-- <li class="nav-item">
            <a 
              class="nav-link" 
              style="cursor:pointer;" 
              (click)="onLogout()">Logout</a>
          </li> -->
          <li ngbDropdown class="nav-item">
            <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle style="cursor:pointer;">{{ username }}</a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="background-color: rgba(0, 0, 0, 0.4); margin-left: 15px">
              <a 
                ngbDropdownItem
                style="cursor:pointer; background-color: transparent; color: white" 
                (click)="onLogout()">Logout</a>
            </div>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>