<!-- Breadcrumb start -->
<header class="bookmark-breadcrumb">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold">Your Wishlist</h1>
        <hr class="divider my-4">
      </div>
      <div class="col-lg-8 align-self-baseline">
        <p class="text-white-75 font-weight-light mb-5"><a routerLink="/" style="color: #f4623a">Home</a> | Bookmarks</p>
      </div>
    </div>
  </div>
</header>
<!-- Breadcrumb end -->

<!-- Show text if no bookmarks -->
<ng-template [ngIf]="bookmarks.length === 0">
  <div class="container">
    <div class="row justify-content-center mt-5 mb-5">
      <h3>No added bookmarks</h3>
    </div>
  </div>
</ng-template>

<ng-template [ngIf]="bookmarks.length > 0">
  <!-- Listing bookmarked tours start -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div *ngFor="let bookmark of bookmarks; let i = index">
          <div class="col-lg-4 col-md-6 mb-5">
            <div class="card card-style" style="width: 18rem;">
              <div class="card" style="width: 18rem;">
                <img 
                  class="card-img-top" 
                  src="http://localhost:3000/uploads//{{bookmark.tour_image}}"
                  alt="Bookmark image">
                <i 
                  (click)="removeBookmark(i)"
                  class="fas fa-heart fa-2x service-icon pull-right"
                  style="position: absolute; right: 10px; top: 10px;"></i>
                
                <div class="card-body" routerLink="/tours/{{bookmark.tour_id}}">
                  <h5 class="card-title font-weight-bold">{{ bookmark.tour_title }}</h5>
                  <p class="card-text"><i class="far fa-clock icon-color"></i> Duration : {{ bookmark.duration }} day</p>
                  <ul class="list-group list-group-flush" style="margin-left: -20px">
                    <li class="list-group-item">
                      <i class="fas fa-dollar-sign icon-color"></i>
                      Pricing <br> 
                      Rs. {{ bookmark.price_adult }} / per adult <br>
                      Rs. {{ bookmark.price_child }} / per child
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Listing bookmarked tours end -->
</ng-template>
<!-- Display cards with coloured hearts -->