<!-- Registration Section -->

<section id="services" style="overflow: hidden;">
    <div class="row">
      <div class="col-md-6 col-lg-5" style="padding-top: 40px;">
        
        <div class="text-center text-container" style="padding: 0 10px;">
          <h2 class="text-center mt-0"><i class="fas fa-home mb-3 text-muted float-left" routerLink="/"></i>Register</h2>
          <hr class="divider my-4" />
          <div>
            <form [formGroup]="registrationForm">
              <div class="form-group text-left">
                <label for="email">Your Name</label>
                <input 
                  type="text" 
                  id="name" 
                  formControlName="name" 
                  class="form-control">
                <span
                  *ngIf="!registrationForm.get('name').valid && registrationForm.get('name').touched"
                  class="help-block text-muted">Please enter a valid name</span>
              </div>
              <div class="form-group text-left">
                <label for="email">Your Email</label>
                <input 
                  type="email" 
                  id="email" 
                  formControlName="email"
                  class="form-control">
                <span
                  *ngIf="!registrationForm.get('email').valid && registrationForm.get('email').touched"
                  class="help-block text-muted">Please enter a valid email</span>
              </div>
              <div class="form-group text-left">
                <label for="password">Your Password</label>
                <input 
                  type="password" 
                  id="password" 
                  formControlName="password"
                  class="form-control">
              </div>
              <div class="form-group text-left">
                <label for="password">Confirm Password</label>
                <input 
                  type="password" 
                  id="password" 
                  formControlName="confirmPassword"
                  class="form-control">
                <span
                  *ngIf="!registrationForm.get('confirmPassword').valid && registrationForm.get('confirmPassword').touched || registrationForm.get('password').value!=registrationForm.get('confirmPassword').value"
                  class="help-block text-muted">Your password and confirmation password do not match</span>
              </div>
              <button 
                class="btn btn-light btn-xl btn-block pt-3 pb-3 js-scroll-trigger btn-custom btn-submit" 
                style="margin-top:40px;" 
                type="submit"
                (click)="onRegister()">Register Now!</button>
              <p class="text-center pt-1">Already have an account?<a routerLink="/login" class="btn theme-orange">Sign In</a></p>
            </form>
          </div>
          <div class="small text-center text-muted pt-5">Copyright &copy; Travel Getaway 2019 | All rights reserved</div>
        </div>
      </div>
      <div class="col-md-6 col-lg-7">
        <div class="register-page-image">
          <img src="assets/img/bg-8.jpeg" alt="signup-page-image">
        </div>
      </div>
    </div>
  </section>